# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.vscode/
node_modules/
artifacts/
foundry-out/
crytic-export/
typechain/

address.json
broadcast/
deploy.sh
script/.env
